%div{:class => "exist_shiphomes grid_6 alpha"}
  %ul#shiphomes
    - all_exist_shiphomes.each do |sh|
      %li{ :class => "shiphome" }&= sh
%div{:class => "exist_images grid_6 omega"}
  %ul#vmimages
    - all_exist_vmimages.each do |image|
      %li{ :class => "vmimage" }&= image
%div{:class => "merge_shiphome_image grid_12"}
  %ul#merge
  %input{:type=>"button",:text=>"Go..."}
