html {
  background-color: #e0e0e0; }

body {
  font-size: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #333333; }

a {
  color: #ed1556;
  text-decoration: none; }
  a:hover {
    color: #ffffff;
    background-color: #ed1556; }

#header {
  background: #ffffff; }
  #header h1 {
    font-weight: bold;
    font-size: 2.5em; }

#menu {
  background: #ffffff;}
  #menu a {
  padding: 1 0 0 0em;
  color: #000000;
  text-decoration: none; }
  #menu a:hover {
    color: #eeeeee;
    background-color: #111111;}

#content {
  padding-top: 1em;
  padding-bottom: 2em;}
  #content ul#merge {
    border-width: 3px;
    border-style: solid;
    border-color: #666666}
